In [84]:
import pandas as pd
import re
import string
from datetime import date, timedelta
import pickle

In [85]:
data = pd.read_csv('data/raw/McDonald_s_Reviews.csv',encoding="latin-1")

In [86]:
data.head(10)

,reviewer_id,store_name,category,store_address,latitude,longitude,rating_count,review_time,review,rating
0,1,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,Why does it look like someone spit on my food?...,1 star
1,2,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,It'd McDonalds. It is what it is as far as the...,4 stars
2,3,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,Made a mobile order got to the speaker and che...,1 star
3,4,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",a month ago,My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...,5 stars
4,5,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2 months ago,"I repeat my order 3 times in the drive thru, a...",1 star
5,6,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 weeks ago,I work for door dash and they locked us all ou...,1 star
6,7,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,If I could give this location a zero on custo...,1 star
7,8,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",a year ago,Came in and ordered a Large coffee w/no ice. T...,1 star
8,9,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,Went thru drive thru. Ordered. Getting home no...,1 star
9,10,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,"I'm not really a huge fan of fast food, but I ...",4 stars

In [87]:
# check data column
data.columns

Index(['reviewer_id', 'store_name', 'category', 'store_address', 'latitude ',
       'longitude', 'rating_count', 'review_time', 'review', 'rating'],
      dtype='object')

In [88]:
missing_value = data.isnull().sum()
print('missing value :\n',missing_value)

missing value :
 reviewer_id        0
store_name         0
category           0
store_address      0
latitude         660
longitude        660
rating_count       0
review_time        0
review             0
rating             0
dtype: int64

In [89]:
#check distinct value
selected_columns = ['store_name','category','store_address','rating','review_time']
for columns in data.columns:
    if columns in selected_columns:
        num_distinct_value = len(data[columns].unique())
        distinct_value = data[columns].unique()
        print(f"{columns}: {num_distinct_value} : {distinct_value}")

store_name: 2 : ["McDonald's" "ýýýMcDonald's"]
category: 1 : ['Fast food restaurant']
store_address: 40 : ['13749 US-183 Hwy, Austin, TX 78750, United States'
 '1698 US-209, Brodheadsville, PA 18322, United States'
 '72-69 Kissena Blvd, Queens, NY 11367, United States'
 '429 7th Ave, New York, NY 10001, United States'
 '724 Broadway, New York, NY 10003, United States'
 '160 Broadway, New York, NY 10038, United States'
 '555 13th St NW, Washington, DC 20004, United States'
 '10451 Santa Monica Blvd, Los Angeles, CA 90025, United States'
 '114 Delancey St, New York, NY 10002, United States'
 '5920 Balboa Ave, San Diego, CA 92111, United States'
 '262 Canal St, New York, NY 10013, United States'
 '490 8th Ave, New York, NY 10001, United States'
 '550 Lawrence Expy, Sunnyvale, CA 94086, United States'
 '11382 US-441, Orlando, FL 32837, United States'
 '210 5th S, Salt Lake City, UT 84106, United States'
 '1916 M St NW, Washington, DC 20036, United States'
 "151 West 34th Street (Macy's 7th Floor, New York, NY 10001, United States"
 '690 Alameda St, Los Angeles, CA 90021, United States'
 '1650 Washington Ave, Miami Beach, FL 33139, United States'
 '1121 Garnet Ave, San Diego, CA 92109, United States'
 '1044 US-11, Champlain, NY 12919, United States'
 '501 W Imperial Hwy, Los Angeles, CA 90044, United States'
 '1540 2nd St, Santa Monica, CA 90405, United States'
 '6875 Sand Lake Rd, Orlando, FL 32819, United States'
 '25200 I-10 Lot 2, San Antonio, TX 78257, United States'
 '111 Madison St, Oak Park, IL 60302, United States'
 '8500 US-290, Austin, TX 78724, United States'
 '10901 Riverside Dr, North Hollywood, CA 91602, United States'
 '702-2 Haddonfield-Berlin Rd, Voorhees Township, NJ 08043, United States'
 '1100 N US Hwy 377, Roanoke, TX 76262, United States'
 '621 Broadway, Newark, NJ 07104, United States'
 '2400 Alliance Gateway Fwy, Fort Worth, TX 76177, United States'
 'By Mandalay Bay, 3999 S Las Vegas Blvd, Las Vegas, NV 89119, United States'
 '2476 Kalï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½'
 '5725 W Irlo Bronson Memorial Hwy, Kissimmee, FL 34746, United States'
 '1415 E State Rd, Fern Park, FL 32730, United States'
 '9814 International Dr, Orlando, FL 32819, United States'
 '7010 Bradlick Shopping Center, Annandale, VA 22003, United States'
 '632 S R L Thornton Freeway Service Rd, Dallas, TX 75203, United States'
 '3501 Biscayne Blvd, Miami, FL 33137, United States']
review_time: 39 : ['3 months ago' '5 days ago' 'a month ago' '2 months ago' '3 weeks ago'
 'a year ago' '6 months ago' '5 months ago' '7 months ago' '10 months ago'
 '4 years ago' '8 months ago' '4 months ago' '3 years ago' '2 years ago'
 '9 months ago' '11 months ago' '5 years ago' '6 years ago' '7 years ago'
 '8 years ago' '3 days ago' 'a week ago' '2 days ago' '2 weeks ago'
 '10 years ago' '9 years ago' '6 days ago' '4 weeks ago' '21 hours ago'
 '4 days ago' '11 years ago' '12 years ago' 'a day ago' '23 hours ago'
 '6 hours ago' '20 hours ago' '22 hours ago' '8 hours ago']
rating: 5 : ['1 star' '4 stars' '5 stars' '2 stars' '3 stars']

In [90]:
# Replace "ýýýMcDonald's" with "McDonald's"
data['store_name'] = data['store_name'].replace("ýýýMcDonald's", "McDonald's")
print(len(data['store_name'].unique())," : ",data['store_name'].unique())

1  :  ["McDonald's"]

In [91]:
data['store_name']

0        McDonald's
1        McDonald's
2        McDonald's
3        McDonald's
4        McDonald's
            ...
33391    McDonald's
33392    McDonald's
33393    McDonald's
33394    McDonald's
33395    McDonald's
Name: store_name, Length: 33396, dtype: object

In [92]:
# clean store address
store_address_data = data['store_address']
#removed all non alphabet character
cleaned_data = store_address_data.apply(lambda x: re.sub(r'[^a-zA-Z0-9,]+', " ", x) if pd.notnull(x) else x)
cleaned_data = cleaned_data.str.split(',', expand=True)
cleaned_data.columns = ['Street Address','City', 'State', 'Country','None']
cleaned_data = cleaned_data.drop(columns=['None'])
cleaned_data

           Street Address     City      State         Country
0        13749 US 183 Hwy   Austin   TX 78750   United States
1        13749 US 183 Hwy   Austin   TX 78750   United States
2        13749 US 183 Hwy   Austin   TX 78750   United States
3        13749 US 183 Hwy   Austin   TX 78750   United States
4        13749 US 183 Hwy   Austin   TX 78750   United States
...                   ...      ...        ...             ...
33391  3501 Biscayne Blvd    Miami   FL 33137   United States
33392  3501 Biscayne Blvd    Miami   FL 33137   United States
33393  3501 Biscayne Blvd    Miami   FL 33137   United States
33394  3501 Biscayne Blvd    Miami   FL 33137   United States
33395  3501 Biscayne Blvd    Miami   FL 33137   United States

[33396 rows x 4 columns]

In [93]:
data['rating'] = data['rating'].str.extract('(\d+)').astype(int)
data['rating']

0        1
1        4
2        1
3        5
4        1
        ..
33391    1
33392    5
33393    4
33394    5
33395    5
Name: rating, Length: 33396, dtype: int64

In [94]:
unique_review = data['review'].unique()
unique_review

array(['Why does it look like someone spit on my food?\nI had a normal transaction,  everyone was chill and polite, but now i dont want to eat this. Im trying not to think about what this milky white/clear substance is all over my food, i d*** sure am not coming back.',
       "It'd McDonalds. It is what it is as far as the food and atmosphere go. The staff here does make a difference. They are all friendly, accommodating and always smiling. Makes for a more pleasant experience than many other fast food places.",
       'Made a mobile order got to the speaker and checked it in.\nLine was not moving so I had to leave otherwise Iï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½d be late for work.\nNever got the refund in the app.\nI called them and they said I could only get my money back in person because it was stuck in the system.\nWent there in person the next day  and the manager told me she wasnï¿',
       ..., 'To remove hunger is enough',
       "It's good, but lately it has become very expensive.",
       'they took good care of me'], dtype=object)

In [95]:
def clean_review(data):
    clean_review = data.apply(lambda s: s.lower())
    clean_review = clean_review.apply(lambda x: re.sub(r'[^a-zA-Z0-9,]+', " ", x) if pd.notnull(x) else x)
    clean_review = clean_review.apply(lambda s: s.translate(str.maketrans(' ', ' ', string.punctuation + u'\xa0')))
    clean_review = clean_review.apply(lambda s: s.translate(str.maketrans(string.whitespace, ' ' * len(string.whitespace), '')))
    clean_review = clean_review.drop_duplicates()
    return clean_review

In [96]:
review = clean_review(data['review'])
data['review'] = review

In [97]:
today = date(2024, 3, 5)

def convert_to_date(expression):
    num, unit = expression.split(' ')[0], expression.split(' ')[1]
    if num == 'a':
        num = 1
    else:
        num = int(num)
    
    if 'hour' in unit:
        return today - timedelta(hours=num)
    elif 'day' in unit:
        return today - timedelta(days=num)
    elif 'week' in unit:
        return today - timedelta(weeks=num)
    elif 'month' in unit:
        return today - timedelta(days=num * 30)  
    elif 'year' in unit:
        return today - timedelta(days=num * 365) 
    else:
        return today

In [98]:
data['review_time'] = data['review_time'].apply(convert_to_date)
data['review_time']

0        2023-12-06
1        2024-02-29
2        2024-02-29
3        2024-02-04
4        2024-01-05
            ...
33391    2020-03-06
33392    2023-03-06
33393    2023-03-06
33394    2019-03-07
33395    2022-03-06
Name: review_time, Length: 33396, dtype: object

In [99]:
data

,reviewer_id,store_name,category,store_address,latitude,longitude,rating_count,review_time,review,rating
0,1,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2023-12-06,why does it look like someone spit on my food ...,1
1,2,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2024-02-29,it d mcdonalds it is what it is as far as the ...,4
2,3,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2024-02-29,made a mobile order got to the speaker and che...,1
3,4,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2024-02-04,my mc crispy chicken sandwich was customer ser...,5
4,5,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2024-01-05,i repeat my order 3 times in the drive thru an...,1
...,...,...,...,...,...,...,...,...,...,...
33391,33392,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",2020-03-06,they treated me very badly,1
33392,33393,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",2023-03-06,the service is very good,5
33393,33394,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",2023-03-06,to remove hunger is enough,4
33394,33395,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",2019-03-07,it s good but lately it has become very expens...,5
33395,33396,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",2022-03-06,they took good care of me,5

In [100]:
# Export cleaned data as pickle
output_file = open("data/processed/cleaned_df.pkl", "wb")
pickle.dump(data, output_file)
output_file.close()